@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Roboto-Regular.ttf') format('opentype');
    font-display: swap;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 20px;
    background-color: #fef9f8
}

img {
    max-width: 100%;
}

input {
    border: none;
    outline: none;
    box-shadow: none;
}

.flex {
    display: flex;
}

.reg-title, .login-title {
    font-family: Roboto;
    font-weight: 900;
    font-style: italic;
    font-size: 40px;
    line-height: 52px;
    color: #31708E;
}

.header-not-logedin-logo {
    max-width: 200px;
}

.header-main-con {
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}

.reg-title-con, .login-title-con {
    align-self: center;
    justify-content: center;
    margin: 30px 0px;
}


.title-with-lines {
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
    color: rgb(3, 3, 3);
    letter-spacing: 0px;
    justify-content: center;
    align-items: center;
    line-height: 65px;
}

    .title-with-lines::before, .title-with-lines::after {
        content: "";
        display: inline-block;
        height: 2px;
        width: 150px;
        max-width: 150px;
        background: rgb(193, 193, 193);
        border-radius: 2px;
    }

    .title-with-lines span {
        padding: 0 20px;
    }

.input-field {
    background-color: rgb(193, 193, 193);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    color: rgb(3, 3, 3);
    font-family: Roboto;
    font-size: 34px;
    height: 65px;
}

.two-input-field {
    justify-content: space-between;
}

    .two-input-field .input-field {
        width: 315px;
    }

.input-con {
    margin-bottom: 17px;
}

.all-input-wrapper {
    justify-content: center;
}

.all-input-con {
    width: 760px;
}

.reg-terms-and-condition, .login-terms-and-condition {
    color: #31708E;
    font-family: Roboto;
    font-size: 30px;
    line-height: 39px;
}

    .purple-radio-con, .reg-terms-and-condition > label, .login-terms-and-condition > label {
        align-items: center;
    }

        .purple-radio-con input {
            display: none;
        }

            .purple-radio-con input + span {
                width: 20px;
                height: 20px;
                border-radius: 5px;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(255, 74, 216);
                cursor: pointer;
                padding: 4px;
            }

.accepted_terms_text {
    cursor: pointer;
    margin-left: 15px;
}

.purple-radio-con input + span::after {
    content: "";
    background-color: rgb(255, 255, 255);
}

.purple-radio-con input:checked + span::after {
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    padding: 4px;
    transition: background 0.3s ease 0s;
    border-radius: 1px;
    background-color: rgb(255, 74, 216);
}

.reg-submit-con, .login-submit-con {
    justify-content: center;
}


.btn {
    align-items: center;
    border: none;
    background-color: #31708E;
    font-family: Roboto;
    padding: 15px;
    color: rgb(3, 3, 3);
    border-radius: 10px;
}

.reg-submit-con .btn, .login-submit-con .btn {
    width: 360px;
    font-weight: 900;
    font-style: italic;
    font-size: 33px;
    line-height: 43px;
}

header {
    border-bottom: 2px solid rgb(228, 34, 188);
}

footer {
    margin-top: 10px;
    border-top: 2px solid rgb(228, 34, 188);
}

.footer-main-con {
    padding: 15px 0px;
}

.footer-text {
    color: rgb(3, 3, 3);
    font-family: Roboto;
    font-weight: 300;
    font-size: 28px;
    line-height: 43px;
}

.user-avatar-header {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 140px;
    margin-right: 20px;
}

.header-logged-btns .btn {
    margin-right: 12px;
    width: 80px;
    height: 72px;
}

.search-bar-con {
    flex: 1;
}

    .search-bar-con form {
        height: 100%;
        width: 100%;
    }

    .search-bar-con input {
        height: 100%;
        width: 100%;
    }

.header-logged-btns i {
    font-size: 42px;
}

.logged-header-left-con {
    align-items: center;
}

.header-logedin-logo {
    width: 130px;
}

.logged-header-right-con {
    align-items: center;
}

    .logged-header-right-con .btn {
        color: rgb(3, 3, 3);
        font-family: Roboto;
        font-weight: 700;
        padding: 12px;
        font-size: 22px;
    }

.header-logged-funcs {
    flex: 1;
}

.col-left, .col-left-public, .col-right-private {
    width: 70%;
}

.col-right, .col-right-public, .col-left-private {
    width: 30%;
}

.public-content-con, .private-content-con {
    margin: 10px 0px;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}

.public-chat-con, .private-chat-con {
    height: 625px;
    overflow-y: auto;
    background-color: rgb(193, 193, 193);
    padding: 10px;
    border-radius: 10px;
    padding-right: 60px;
}

.private-chat-con {
    flex-direction: column;
    padding: 0px;
    padding-top: 10px;
}

.private-chat-input form, .user-private-chat-text {
    height: 100%;
    width: 100%;
}

.private-chat-input form {
    position: relative;
}



.user-message-avatar, .user-message-anwser-user-avatar, .user-sidebar-avatar {
    display: flex;
    align-items: center;
    background: #fff;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    margin-right: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.user-message-text {
    display: inline-flex;
    max-width: 100%;
    color: rgb(3, 3, 3);
    font-family: Roboto;
    border-radius: 10px;
    font-size: 25px;
    line-height: 33px;
    text-align: left;
    background: #fff;
    padding: 10px;
    position: relative;
    padding-bottom: 19px;
}

.user-message-reaction {
    display: flex;
    flex: 1;
    transform: translateY(-22px);
    justify-content: flex-end;
}

    .user-message-reaction .btn {
        width: 50px;
        height: 50px;
        margin-left: 5px;
    }

.user-message-anwser-text {
    background: #fff;
    color: rgb(3, 3, 3);
    font-family: Roboto;
    border-radius: 10px;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    background: #fff;
    padding: 10px;
}

.user-message-anwser-user-avatar {
    margin-right: 4px;
}

.user-message-anwser-reaction {
    align-items: flex-start;
}

.user-message-anwser {
    padding-left: 60px;
    opacity: 0.8;
    margin-bottom: 22px;
}

.public-chat-sidebar-con {
    margin-left: 15px;
    height: 100%;
    width: calc(100% - 15px);
}

.private-chat-sidebar-con {
    height: 100%;
    flex-direction: column;
    width: 100%;
    padding-right: 20px;
}

.public-chat-sidebar-line {
    width: 2px;
    height: 100%;
    border-radius: 2px;
    background: rgb(193, 193, 193);
    margin-right: 25px;
}

.public-chat-sidebar-content-con {
    flex: 1;
    height: 100%;
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    height: 620px;
    overflow-y: auto;
}

.private-chat-sidebar-content, .private-groupes-sidebar-content {
    flex-direction: column;
}

.private-chat-sidebar-content-con, .private-groupes-sidebar-content-con {
    flex-direction: column;
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    border: 0px;
    padding-right: 25px;
    padding-left: 10px;
    height: 350px;
    width: 100%;
    overflow-y: auto;
}

.private-groupes-sidebar-content-con {
    margin-top: 25px;
    height: 250px;
}

.private-user-sidebar-profile-item {
    display: flex;
    width: 100%;
}

.user-sidebar-avatar {
    margin: 0px;
}

.sidebar-content-header {
    align-items: center;
    margin: 10px 0px;
    justify-content: space-between;
}

.user-sidebar-profile-item {
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
    background: #fff;
    position: relative;
    border-radius: 10px;
}

.sidebar-content-title {
    color: #31708E;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 0px;
    line-height: 44px;
}

.sidebar-content-header .btn {
    width: 50px;
    height: 50px;
}

.user-sidebar-text {
}

.user-sidebar-marker {
    position: absolute;
    right: -15px;
    bottom: 0px;
    z-index: 5;
}

.user-sidebar-text .btn {
    width: 50px;
    height: 50px;
}

.private-user-sidebar-profile-item .user-sidebar-marker {
    left: 0px;
}


.private-groupes-sidebar-content .user-sidebar-avatar {
    border-radius: 50%;
}

.private-message-get, .private-message-user {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    max-width: 65%;
    margin-bottom: 25px;
}

.private-message-get {
    margin-left: auto;
}

.private-chat-messages {
    flex: 1;
}

.private-chat-input {
    height: 85px;
    width: 100%;
    border: none;
    text-align: left;
}

.user-private-chat-text {
    height: 100%;
    width: 100%;
    resize: none;
    border: none !important;
    color: rgb(3, 3, 3);
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    outline: none !important;
}

.user-private-chat-text-marker {
    position: absolute;
    right: 10px;
    top: 10px;
}

    .user-private-chat-text-marker .btn {
        margin-left: 10px;
        width: 80px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        color: rgb(3, 3, 3);
    }

@media(min-width: 1470px) {
    .container {
        max-width: 1470px;
    }
}

@media(min-width: 992px) and (max-width: 1469px) {
    .reg-title, .login-title {
        font-size: 29px;
    }

    .header-not-logedin-logo {
        max-width: 150px;
    }

    .input-field {
        height: 57px;
        font-size: 29px;
    }

    .title-with-lines {
        font-size: 42px;
    }

    .two-input-field .input-field {
        width: 280px;
    }

    .all-input-con {
        width: 670px;
    }

    .reg-submit-con .btn, .login-submit-con .btn {
        width: 320px;
    }

    .sidebar-content-title {
        font-size: 23px;
        line-height: 28px;
    }
}

.container-y {
    flex;
}

.icons-y {
    display:grid;
    grid-template-columns: 48% 4% 48%;
    padding: 10px;
    grid-gap: 30px;
    width: 300px;
}

.vl {
    border-left: 2px solid #31708E;
    margin-left: 33px;
}

.icon-1 .btn, .icon-2 .btn {
    justify-content: center;
    width: 200px;
    font-weight:400;
    font-size: 40px;
    font-style:italic;
 }
#index-img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.container-profile{
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 10px;
    grid-gap: 10px;
    width: 98%;
    height: 500px;
    justify-content: stretch;
    align-items: stretch;
    margin: 0px auto;
}

.profile-down, .profile-up-left {
    background-color: rgb(193, 193, 193)
}

.profile-up {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px;
    grid-gap: 20px;
}

#profile-picture {
    max-height: 200px;
    width: 65%;
    border-radius: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
}

.profile-up-left {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    grid-gap: 10px;
    border-radius: 10px;
}

.left-column-1-2, .left-column-1-3, .left-column-2-1, .left-column-2-2, .left-column-2-3 {
    background-color: white;
    border-radius: 10px;
}

.left-column-1, .left-column-2 {
    display: grid;
    grid-template-rows: 30% 30% 30%;
    padding: 10px;
    grid-gap: 10px;
}


.left-column-1-1 {
    color: #31708E;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 0px;
    line-height: 44px;
    font-family: Georgia;
}

.profile-down {
    display: grid;
    grid-template-rows: 60% 40%;
    padding: 10px;
    border-radius: 10px;
}

.status {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    overflow: scroll;
}

.status-comment {
    margin-left: 200px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 9% 80% 3% 8%;
    border-radius:10px;
}

.status-comment-2{
    background-color:white;
    overflow:scroll;
}

.comment-img {
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    object-fit: cover;
    height: 84px;
}

.settings-container {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-gap: 10px;
    padding: 10px;
    width: 98%;
    height: 500px;
    justify-content: stretch;
    align-items: stretch;
    margin: 0px auto;
}

.settings-up {
    color: #31708E;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 0px;
    line-height: 44px;
    font-family: Georgia;
    text-align:center;
}

.settings-container .settings-down {
    display: grid;
    grid-template-columns: 44% 10% 44%;
    grid-gap: 20px;
    justify-content: stretch;
    align-items: stretch;
    margin: 0px auto;
    width: 98%;
    height: 400px;
}

.settings-1, .settings-3 {
    background-color: rgb(193, 193, 193);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 17% 17% 17% 17% 17%;
    padding: 10px;
    grid-gap: 10px;
}


.settings-down .st-subtitle {
    background-color: rgb(193, 193, 193);
    color: #31708E;
    font-family: Roboto;
    font-weight: 900;
    font-size: 34px;
    letter-spacing: 0px;
    line-height: 44px;
    font-family: Georgia;
    text-align: center;
}

.settings-down .st-btn {
    background-color: rgb(193, 193, 193);
    text-align: center;
}

.settings-input {
    width: 613px;
    height: 66px;
    border: solid #ccc;
}





