<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LetsChat</title>
    <link rel="stylesheet" type="text/css" href="../Styles/style.css"/>
</head>
<body>

    <header>
        <div class="container-y">
            <div class="header-main-con flex">
                <div class="icons-y">
                    <div class="icon-1">
                        <button class="btn" type="submit" value="Submit">Register</button>
                    </div>
                    <div class="vl">
                    </div>
                    <div class="icon-2">
                        <button class="btn" type="submit" value="Submit">LogIn</button>
                    </div>
                </div>
                <div class="header-not-logedin-logo">
                    <img src="../img/logo.jpg">
                </div>
            </div>
        </div>
    </header>

    <div>
        <img id="index-img" src="../img/index.jpg" />
    </div>

    <footer>
        <div class="container">
            <div class="footer-main-con">
                <div class="footer-text">copyright</div>
            </div>
        </div>
    </footer>

</body>
</html>