<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="../Styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
</head>
<body class="body">
    <header>
        <div class="container">
            <div class="header-main-con flex">
                <div class="login-title">
                    Welcome back!
                </div>
                <div class="header-not-logedin-logo">
                    <img src="../img/logo.jpg">
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="flex login-title-con">
                <div class="flex title-with-lines"><span>Login</span></div>
            </div>
            <div class="body-input-field">
                <form method="get">
                    <div class="all-input-wrapper flex">
                        <div class="all-input-con">
                            <div class="input-con">
                                <input class="input-field" type="text" name="username" placeholder="User Name">
                            </div>
                            <div class="input-con">
                                <input class="input-field" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="login-terms-and-condition">
                                <label class="flex" for="accepted_terms">
                                    <span class="flex purple-radio-con"><input id="accepted_terms" type="checkbox" name="accepted_terms"><span></span></span> <span class="accepted_terms_text">Save password</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="login-submit-con flex">
                        <button class="btn" type="submit" value="Submit">LogIn Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-main-con">
                <div class="footer-text">copyright</div>
            </div>
        </div>
    </footer>
</body>
</html>