<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Private page</title>
    <link rel="stylesheet" type="text/css" href="../Styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" type="text/css" href="../Styles/all.min.css">
</head>
<body class="body">
    <header>
        <div class="container">
            <div class="header-main-con flex">
                <div class="logged-header-left-con flex col-left">
                    <div class="user-avatar-header">
                        <img src="../img/user-header-avatar.jpg">
                    </div>
                    <div class="header-logged-funcs flex">
                        <div class="header-logged-btns">
                            <div class="btn header-user-setting">
                                <i class="fa fa-user-cog"></i>
                            </div>
                            <div class="btn header-user-message">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="btn header-user-message">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="search-bar-con">
                            <form action="get">
                                <input class="input-field" type="text" name="search_text">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="logged-header-right-con flex">
                    <div class="header-logedin-logo">
                        <img src="../img/logo.jpg">
                    </div>
                    <div class="btn">
                        Sign out
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="private-content-con flex">
                <div class="private-chat-left-con col-left-private">
                    <div class="private-chat-sidebar-con flex">
                        <div class="private-chat-sidebar-content-con flex">
                            <div class="sidebar-content-header flex">
                                <div class="sidebar-content-title">Private message</div>
                                <div class="btn">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="private-chat-sidebar-content flex">
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                            <div class="user-sidebar-marker flex">
                                                <div class="btn">
                                                    <i class="fa fa-chevron-circle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/user-avatar-1.jpg">
                                    </div>
                                </div>
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/user-avatar-3.jpg">
                                    </div>
                                </div>
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                            <div class="user-sidebar-marker flex">
                                                <div class="btn">
                                                    <i class="fa fa-chevron-circle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/user-avatar-2.jpg">
                                    </div>
                                </div>
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/user-avatar-3.jpg">
                                    </div>
                                </div>
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/user-avatar-3.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="private-groupes-sidebar-content-con flex">
                            <div class="sidebar-content-header flex">
                                <div class="sidebar-content-title">Group message</div>
                                <div class="btn">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="private-groupes-sidebar-content flex">
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                            <div class="user-sidebar-marker flex">
                                                <div class="btn">
                                                    <i class="fa fa-chevron-circle-down"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/group-avatar-1.jpg">
                                    </div>
                                </div>
                                <div class="private-user-sidebar-profile-item">
                                    <div class="user-sidebar-profile-item flex">
                                        <div class="user-sidebar-text">
                                        </div>
                                    </div>
                                    <div class="user-sidebar-avatar">
                                        <img src="../img/group-avatar-2.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="private-chat-right-con col-right-private">
                    <div class="private-chat-con flex">
                        <div class="private-chat-messages">
                            <div class="private-message-get">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="private-message-user">
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="private-chat-input">
                            <form>
                                <textarea class="user-private-chat-text" type="text" name="private_chat_input">TEST</textarea>
                                <div class="user-private-chat-text-marker flex">
                                    <div class="btn">
                                        <i class="fa fa-folder-open"></i>
                                    </div>
                                    <div class="btn">
                                        <i class="fa fa-images"></i>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-main-con">
                <div class="footer-text">copyright</div>
            </div>
        </div>
    </footer>
</body>
</html>