<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" type="text/css" href="../Styles/all.min.css">
    <title>Profile page</title>
</head>
<body class="body">
    <header>
        <div class="container">
            <div class="header-main-con flex">
                <div class="logged-header-left-con flex col-left">
                    <div class="user-avatar-header">
                        <img src="../img/user-header-avatar.jpg">
                    </div>
                    <div class="header-logged-funcs flex">
                        <div class="header-logged-btns">
                            <div class="btn header-user-setting">
                                <i class="fa fa-user-cog"></i>
                            </div>
                            <div class="btn header-user-message">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="btn header-user-message">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="search-bar-con">
                            <form action="get">
                                <input class="input-field" type="text" name="search_text">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="logged-header-right-con flex">
                    <div class="header-logedin-logo">
                        <img src="../img/logo.jpg">
                    </div>
                    <div class="btn">
                        Sign out
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container-profile">
        <div class="profile-up">
            <div class="profile-up-left">
                <div class="left-column-1">
                    <div class="left-column-1-1">
                        General info
                    </div>
                    <div class="left-column-1-2">
                    </div>
                    <div class="left-column-1-3">
                    </div>
                </div>
                <div class="left-column-2">
                    <div class="left-column-2-1">
                    </div>
                    <div class="left-column-2-2">
                    </div>
                    <div class="left-column-2-3">
                    </div>
                </div>
            </div>
            <div class="profile-up-right">
                <img id="profile-picture" src="../img/user-header-avatar.jpg" />
            </div>
        </div>
        <div class="profile-down">
            <div class="status">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada arcu nec felis dapibus vestibulum. Duis eu odio non nulla interdum fringilla. Integer sollicitudin nibh eu dolor malesuada, sed malesuada dui dignissim. Donec vel suscipit mi. Vivamus mollis luctus lacus, non cursus lorem. In fermentum interdum magna a porta. Nullam ut varius nisl.
            </div>
            <div class="status-comment">
                <div class="status-comment-1">
                    <img class="comment-img" src="../img/user-avatar-2.jpg"/>
                </div>
                <div class="status-comment-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada arcu nec felis dapibus vestibulum. Duis eu odio non nulla interdum fringilla. Integer sollicitudin nibh eu dolor malesuada, sed malesuada dui dignissim. Donec vel suscipit mi. Vivamus mollis luctus lacus, non cursus lorem. In fermentum interdum magna a porta. Nullam ut varius nisl.
                </div>
                <div class="gap">
                </div>
                <div class="status-comment-3">
                    <div class="user-message-reaction">
                        <div class="btn">
                            <i class="fa fa-smile"></i>
                        </div>
                        <div class="btn">
                            <i class="fa fa-handshake"></i>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-main-con">
                <div class="footer-text">copyright</div>
            </div>
        </div>
    </footer>
</body>
</html>