<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css">
    <link rel="stylesheet" type="text/css" href="../Styles/all.min.css">
    <title>Settings</title>
</head>
<body class="body">
    <header>
        <div class="container">
            <div class="header-main-con flex">
                <div class="logged-header-left-con flex col-left">
                    <div class="user-avatar-header">
                        <img src="../img/user-header-avatar.jpg">
                    </div>
                    <div class="header-logged-funcs flex">
                        <div class="header-logged-btns">
                            <div class="btn header-user-setting">
                                <i class="fa fa-user-cog"></i>
                            </div>
                            <div class="btn header-user-message">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="btn header-user-message">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="search-bar-con">
                            <form action="get">
                                <input class="input-field" type="text" name="search_text">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="logged-header-right-con flex">
                    <div class="header-logedin-logo">
                        <img src="../img/logo.jpg">
                    </div>
                    <div class="btn">
                        Sign out
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="settings-container">
        <div class="settings-up">
            Settings
        </div>
        <div class="settings-down">
            <div class="settings-1">
                <div class="st-subtitle"> General Info </div>
                <div></div>
                <div></div>
                <div></div>
                <div class="st-btn">
                    <button class="btn" type="submit" value="Submit">Save changes</button>
                </div>
            </div>
            <div class="settings-2"> </div>
            <div class="settings-3">
                <div class="st-subtitle"> Password</div>
                <div></div>
                <div></div>
                <div></div>
                <div class="st-btn">
                    <button class="btn" type="submit" value="Submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="footer-main-con">
                <div class="footer-text">copyright</div>
            </div>
        </div>
    </footer>
</body>
</html>